<a href="https://colab.research.google.com/github/amyth18/CS598-Deep-Learning-Final-Project/blob/main/CS598_Deep_Learning_For_Healthcare_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

# Load Data

In [ ]:
# read data
df = pd.read_csv("/content/drive/My Drive/DLH Final Project/mimic3/NOTEEVENTS.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head(2)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...

# Data Preprocessing
Need to focus on 2 tables
1. NOTESEVENTS.csv
2. DIAGNOSES_ICD.csv

Join tables by <subject_id, hadm_id>

Construct 2 datasets from "TEXT" field in NOTESEVENTS.csv for each <subject_id, hadm_id> pair (i.e discharge summary for that admission.)

X1, y and X2, y
x1 = sequence of vectors from word2vec 
x2 = sequence of vectors from tf-idf
y = list of icd codes for <subject_id, hadm_id> i.e. diagnosis maded in ICU admission.

Need to focus on 50 and 100 most commonly diagnosed diseases.

## Common data preprocessing
1. Use NLTK + MetaMap to extract only the symptom related entities (how to use MetaMap is unknown atm.)

2. Filter out sections in discharge summaries that are related to symptoms only, ignore others to speed up things.

3. Negative filters (e.g. "no sign of breath problem").

## Data processing for X1 (Word2Vec)
1. Generate Word2Vec embeddings (currently using Gensim) using "TEXT".

## Data processing for X2 (TF-IDF)
1. Generate TF-IDF vector for each symptom entity.

## Data processing for y
1. multi-hot encoding?

In [ ]:
import re
import nltk

from nltk.corpus import stopwords
nltk.download('stopwords')

eng_stop_words =  stopwords.words('english')

class MySentences(object):
    def __init__(self, dframe):
        self.dframe = dframe
    
    # TODO: Keeping only alpha numeric characters and spaces for now.
    # need to make this better. Find some good libraries.
    def sanitize_text(self, text):
      test = text.strip()
      text = re.sub(r'\s\s+', ' ', text)
      text = re.sub(r'[^a-zA-z0-9\/\.\?\!\s;,\'\-]', '', text)
      text = re.sub(r'[\.\-\/\?\!;,]', ' ', text)
      text = re.sub(r'[\[\]]', '', text)
      return text

    # TODO: adding some basic checks again need to make it better.
    def sanitize_words(self, sentence):
      return [w for w in sentence if w not in eng_stop_words and not w.isdigit()]

    def __iter__(self):
        for idx in range(len(self.dframe)):
          text = self.sanitize_text(self.dframe["TEXT"][idx])
          yield self.sanitize_words(text.split())

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
df_icd_codes = pd.read_csv("/content/drive/My Drive/DLH Final Project/mimic3/DIAGNOSES_ICD.csv")

In [ ]:
df_icd_codes.head(2)

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486

In [ ]:
counts = df_icd_codes["ICD9_CODE"].value_counts().head(50)
top_icd_codes = counts.index.to_list()
df_admissions_with_top_diseases = df_icd_codes[df_icd_codes["ICD9_CODE"].isin(top_icd_codes)]
df_unique_admissions_with_top_diseases = df_admissions_with_top_diseases[["SUBJECT_ID", "HADM_ID"]].drop_duplicates()

In [ ]:
len(df_unique_admissions_with_top_diseases)

55078

In [ ]:
filtered_df = pd.merge(df, df_unique_admissions_with_top_diseases, on=["SUBJECT_ID", "HADM_ID"])

In [ ]:
filtered_df_disc_sum = filtered_df[filtered_df["CATEGORY"] == 'Discharge summary'].reset_index()
print(len(filtered_df_disc_sum))
print(filtered_df_disc_sum.head(5))

55988
   index  ROW_ID  SUBJECT_ID   HADM_ID   CHARTDATE CHARTTIME STORETIME  \
0      0     174       22532  167853.0  2151-08-04       NaN       NaN
1      1     170       22532  167853.0  2151-08-04       NaN       NaN
2     32     175       13702  107527.0  2118-06-14       NaN       NaN
3     79     176       13702  167118.0  2119-05-25       NaN       NaN
4    186     177       13702  196489.0  2124-08-18       NaN       NaN

            CATEGORY DESCRIPTION  CGID  ISERROR  \
0  Discharge summary      Report   NaN      NaN
1  Discharge summary      Report   NaN      NaN
2  Discharge summary      Report   NaN      NaN
3  Discharge summary      Report   NaN      NaN
4  Discharge summary      Report   NaN      NaN

                                                TEXT
0  Admission Date:  [**2151-7-16**]       Dischar...
1  Admission Date:  [**2151-7-16**]       Dischar...
2  Admission Date:  [**2118-6-2**]       Discharg...
3  Admission Date:  [**2119-5-4**]              D...
4  Admission Date:  [**2124-7-21**]              ...

Test code for sentence generator

In [ ]:
sgen = MySentences(filtered_df_disc_sum)
sentences = list()
for idx, s in enumerate(sgen):
  print(s)
  if idx == 1:
    break

['Admission', 'Date', 'Discharge', 'Date', 'Service', 'ADDENDUM', 'RADIOLOGIC', 'STUDIES', 'Radiologic', 'studies', 'also', 'included', 'chest', 'CT', 'confirmed', 'cavitary', 'lesions', 'left', 'lung', 'apex', 'consistent', 'infectious', 'process', 'tuberculosis', 'This', 'also', 'moderate', 'sized', 'left', 'pleural', 'effusion', 'HEAD', 'CT', 'Head', 'CT', 'showed', 'intracranial', 'hemorrhage', 'mass', 'effect', 'old', 'infarction', 'consistent', 'past', 'medical', 'history', 'ABDOMINAL', 'CT', 'Abdominal', 'CT', 'showed', 'lesions', 'T10', 'sacrum', 'likely', 'secondary', 'osteoporosis', 'These', 'followed', 'repeat', 'imaging', 'outpatient', 'First', 'Name8', 'NamePattern2', 'First', 'Name4', 'NamePattern1', 'Last', 'Name', 'NamePattern1', 'M', 'D', 'MD', 'Number1', 'Dictated', 'ByHospital', 'MEDQUIST36', 'D', 'T', 'JOB', 'Job', 'Number']
['Admission', 'Date', 'Discharge', 'Date', 'HISTORY', 'OF', 'PRESENT', 'ILLNESS', 'The', 'patient', 'year', 'old', 'African', 'American', 'female', 'morning', 'found', 'floor', 'unair', 'conditioned', 'home', 'relative', 'heat', 'wave', 'She', 'conscious', 'The', 'family', 'reports', 'drinking', 'much', 'feeling', 'well', 'one', 'day', 'prior', 'admission', 'The', 'family', 'also', 'reports', 'productive', 'cough', 'lb', 'weight', 'loss', 'last', 'three', 'months', 'shortness', 'breath', 'last', 'months', 'worsened', 'exertion', 'increasing', 'edema', 'The', 'patient', 'taken', 'Emergency', 'Department', 'rectal', 'irregular', 'Blood', 'pressure', 'respiratory', 'rate', 'Cooling', 'measures', 'started', 'Emergency', 'Department', 'She', 'placed', 'oxygen', 'nonrebreather', 'mask', 'The', 'patient', 'gradually', 'became', 'alert', 'oriented', 'times', 'two', 'In', 'Emergency', 'Department', 'subsequently', 'became', 'hypotensive', 'blood', 'pressure', 'heart', 'rate', 'irregular', 'More', 'aggressive', 'fluid', 'resuscitation', 'started', 'She', 'briefly', 'placed', 'Norepinephrine', 'drip', 'hemodynamic', 'instability', 'later', 'changed', 'Levophed', 'drip', 'A', 'central', 'line', 'placed', 'The', "patient's", 'temperature', 'gradually', 'came', 'several', 'hours', 'Laboratory', 'studies', 'blood', 'cultures', 'drawn', 'Chest', 'x', 'ray', 'done', 'Electrocardiogram', 'urinalysis', 'arterial', 'blood', 'gases', 'doneand', 'patient', 'started', 'broad', 'spectrum', 'antibiotics', 'PAST', 'MEDICAL', 'HISTORY', 'Cardiomyopathy', 'idiopathic', 'echocardiogram', 'showed', 'ejection', 'fraction', 'Hypertension', 'Pulmonary', 'hypertension', 'Chronic', 'atrial', 'fibrillation', 'Intermittent', 'left', 'bundle', 'branch', 'block', 'History', 'anemia', 'heme', 'positive', 'stools', 'previously', 'refused', 'colonoscopy', 'History', 'previous', 'pulmonary', 'embolism', 'History', 'previous', 'stroke', 'History', 'previous', 'myocardial', 'infarction', 'undocumented', 'Chronic', 'right', 'sided', 'pleural', 'effusion', 'first', 'found', 'History', 'multiple', 'episodes', 'cellulitis', 'Claustrophobia', 'MEDICATIONS', 'ON', 'ADMISSION', 'Coumadin', 'mg', 'alternating', 'mg', 'q', 'Lasix', 'mg', 'q', 'Lisinopril', 'mg', 'q', 'Diltiazem', 'mg', 'q', 'Digoxin', 'mg', 'q', 'ALLERGIES', 'No', 'known', 'drug', 'allergies', 'SOCIAL', 'HISTORY', 'The', 'patient', 'African', 'American', 'female', 'lived', 'alone', 'Family', 'checks', 'often', 'lives', 'nearby', 'FAMILY', 'HISTORY', 'There', 'family', 'history', 'colon', 'cancer', 'PHYSICAL', 'EXAMINATION', 'On', 'physical', 'examination', 'noted', 'Emergency', 'Department', 'Medicine', 'Intensive', 'Care', 'Unit', 'notes', 'General', 'thin', 'malnourished', 'African', 'American', 'female', 'disoriented', 'Head', 'eyes', 'ears', 'nose', 'throat', 'pupils', 'equal', 'round', 'reactive', 'light', 'extraocular', 'movements', 'intact', 'Dry', 'mucous', 'membranes', 'Oropharynx', 'clear', 'Neck', 'supple', 'Jugulovenous', 'distension', 'noted', 'cm', 'Lungs', 'bibasilar', 'crackles', 'denies', 'cough', 'Rhonchi', 'throughout', 'No', 'wheezes', 'Cardiovascular', 'irregularly', 'irregular', 'rhythm', 'II', 'VI', 'systolic', 'murmur', 'Abdominal', 'positive', 'bowel', 'sounds', 'soft', 'nontender', 'nondistended', 'rebound', 'guarding', 'No', 'masses', 'Guaiac', 'positive', 'rectal', 'examination', 'Extremities', 'edema', 'severe', 'chronic', 'venous', 'insufficiency', 'stasis', 'dermatitis', 'lower', 'extremities', 'pulses', 'bilaterally', 'Neurological', 'photophobia', 'The', 'patient', 'waxes', 'wanes', 'disorientation', 'LABORATORY', 'DATA', 'Complete', 'blood', 'count', 'showed', 'white', 'count', 'hematocrit', 'platelets', 'differential', 'neutrophils', 'lymphocytes', 'monocyte', 'Chem', 'sodium', 'potassium', 'chloride', 'bicarbonate', 'BUN', 'creatinine', 'glucose', 'PT', 'INR', 'PTT', 'Lactate', 'calcium', 'magnesium', 'prostate', 'CK', 'alkaline', 'phosphatase', 'total', 'bilirubin', 'ALT', 'AST', 'Electrocardiogram', 'showed', 'atrial', 'fibrillation', 'rate', 'left', 'bundle', 'branch', 'block', 'Chest', 'x', 'ray', 'showed', 'possible', 'interstitial', 'edema', 'persistent', 'right', 'basilar', 'opacity', 'could', 'represent', 'pleural', 'thickening', 'effusion', 'possible', 'infection', 'process', 'right', 'lung', 'Infection', 'could', 'excluded', 'New', 'opacities', 'left', 'lung', 'apex', 'concerning', 'acute', 'infection', 'INTENSIVE', 'CARE', 'UNIT', 'COURSE', 'In', 'Medicine', 'Intensive', 'Care', 'Unit', 'pressors', 'discontinued', 'hours', 'admission', 'secondary', 'improved', 'hemodynamic', 'instability', 'Repeat', 'chest', 'x', 'ray', 'showed', 'possible', 'pneumonia', 'lower', 'lobes', 'cavitary', 'lesion', 'left', 'upper', 'lobe', 'concerning', 'tuberculosis', 'The', 'patient', 'subsequently', 'placed', 'negative', 'pressure', 'room', 'respiratory', 'precautions', 'started', 'The', 'patient', 'also', 'three', 'cycles', 'induced', 'sputums', 'acid', 'fast', 'bacillus', 'smear', 'culture', 'Antibiotics', 'continued', 'On', 'hospital', 'day', 'patient', 'began', 'taking', 'p', 'She', 'remained', 'afebrile', 'throughout', 'hospital', 'course', 'On', 'hospital', 'day', 'patient', 'transferred', 'Medicine', 'Service', 'acid', 'fast', 'bacillus', 'smear', 'hospital', 'day', 'came', 'back', 'moderately', 'positive', 'acid', 'fast', 'bacilli', 'HOSPITAL', 'COURSE', 'Infectious', 'disease', 'As', 'noted', 'repeat', 'chest', 'x', 'ray', 'showed', 'cavitary', 'lesions', 'left', 'apex', 'On', 'hospital', 'day', 'patient', 'placed', 'isolation', 'respiratory', 'precautions', 'negative', 'pressure', 'isolation', 'room', 'Acid', 'fast', 'sputums', 'times', 'three', 'taken', 'acid', 'fast', 'bacilli', 'On', 'hospital', 'day', 'sputum', 'Doctor', 'Last', 'Name', 'hospital', 'day', 'showed', 'positive', 'acid', 'fast', 'bacilli', 'Infectious', 'Disease', 'consult', 'called', 'On', 'hospital', 'day', 'patient', 'started', 'Isoniazid', 'Rifampin', 'Pyrazinamide', 'pulmonary', 'TB', 'Ethambutol', 'started', 'hospital', 'day', 'Infectious', 'Control', 'Department', 'Public', 'Health', 'notified', 'got', 'touch', 'family', 'members', 'hospital', 'staff', 'The', 'patient', 'completed', 'seven', 'day', 'course', 'Ceftriaxone', 'Azithromycin', 'five', 'days', 'question', 'aspiration', 'pneumonia', 'All', "patient's", 'blood', 'cultures', 'sputum', 'urine', 'cultures', 'She', 'Clostridium', 'difficile', 'negative', 'RPR', 'negative', 'There', 'three', 'attempts', 'one', 'fluoroscopy', 'guided', 'lumbar', 'puncture', 'evaluate', 'meningeal', 'tuberculosis', 'unsuccessful', 'due', 'severe', 'degenerative', 'joint', 'disease', 'spine', 'Ultimately', 'decided', 'low', 'suspicion', 'CNS', 'TB', 'given', 'patients', 'improvement', 'mental', 'status', 'Final', 'recommendations', 'duration', 'antituberculosis', 'regimen', 'given', 'later', 'date', 'Infectious', 'Disease', 'Service', 'Sensitivities', 'pending', 'tuberculosis', 'Tuberculosis', 'confirmed', 'PCR', 'gene', 'probe', 'The', 'patient', 'remained', 'throughout', 'rest', 'hospital', 'day', 'throughout', 'hospital', 'course', 'isolation', 'negative', 'pressure', 'room', 'respiratory', 'precautions', 'She', 'remain', 'negative', 'acid', 'fast', 'bacillus', 'cultures', 'three', 'sputums', 'Sputum', 'hospital', 'day', 'positive', 'acid', 'fast', 'bacilli', 'thus', 'remamined', 'isolation', 'Pulmonary', 'The', "patient's", 'initial', 'acute', 'respiratory', 'acidosis', 'corrected', 'resolution', 'hypoventilation', 'secondary', 'carbon', 'dioxide', 'retention', 'dehydration', 'In', 'Medicine', 'Intensive', 'Care', 'Unit', 'followed', 'repeated', 'arterial', 'blood', 'gases', 'The', 'patient', 'denied', 'shortness', 'breath', 'throughout', 'She', 'positive', 'productive', 'cough', 'The', 'patient', 'episode', 'somnolence', 'supplemental', 'oxygen', 'turned', 'secondary', 'carbon', 'dioxide', 'retention', 'Somnolence', 'resolved', 'supplemental', 'oxygen', 'decreased', 'She', 'kept', 'oxygen', 'approximately', 'liter', 'keep', 'saturations', 'On', 'hospital', 'day', 'thoracentesis', 'performed', 'new', 'left', 'effusion', 'complications', 'showed', 'white', 'blood', 'cells', 'l', 'red', 'blood', 'cells', 'differential', 'neutrophils', 'lymphocytes', 'monocytes', 'eosinophils', 'Protein', 'glucose', 'LDH', 'PH', 'Gram', 'stain', 'negative', 'Doctor', 'First', 'Name', 'negative', 'Smear', 'negative', 'Effusion', 'consistent', 'transudative', 'process', 'On', 'hospital', 'day', 'thoracentesis', 'performed', 'right', 'pleural', 'effusion', 'red', 'blood', 'cells', 'red', 'blood', 'cells', 'protein', 'glucose', 'LDH', 'PH', 'gram', 'stain', 'negative', 'At', 'time', 'discharge', 'Doctor', 'First', 'Name', 'still', 'pending', 'smears', 'negative', 'Cultures', 'time', 'still', 'pending', 'pleural', 'effusions', 'negative', 'malignant', 'cells', 'Cardiovascular', 'As', 'noted', 'patient', 'rapid', 'atrial', 'fibrillation', 'initially', 'By', 'hospital', 'day', 'throughout', 'course', 'patient', 'remained', 'rate', 'control', 'atrial', 'fibrillation', 'Digoxin', 'Lasix', 'Metoprolol', 'started', 'Lisinopril', 'also', 'restarted', 'Diltiazem', 'discontinued', 'The', 'patient', 'found', 'troponin', 'leak', 'Troponin', 'peak', 'noted', 'CK', 'MB', 'ranged', 'CKs', 'ranged', 'It', 'thought', 'high', 'troponin', 'CKs', 'secondary', 'myocardial', 'damage', 'suffered', 'heat', 'stroke', 'Echocardiogram', 'hospital', 'day', 'showed', 'right', 'atrium', 'markedly', 'dilated', 'mild', 'symmetric', 'left', 'ventricular', 'hypertrophy', 'severe', 'global', 'ventricular', 'hypokinesis', 'severely', 'depressed', 'left', 'ventricular', 'systolic', 'function', 'pulmonary', 'hypertension', 'There', 'question', 'marantic', 'endocarditis', 'versus', 'degenerative', 'changes', 'aortic', 'valve', 'There', 'significant', 'aortic', 'valve', 'stenosis', 'aortic', 'regurgitation', 'Prior', 'previous', 'report', 'significant', 'change', 'regards', 'left', 'ventricular', 'function', 'On', 'hospital', 'day', 'patient', 'underwent', 'repeat', 'echocardiogram', 'showed', 'left', 'atrium', 'moderately', 'dilated', 'right', 'atrium', 'markedly', 'dilated', 'left', 'ventricular', 'wall', 'thickness', 'normal', 'The', 'overall', 'left', 'ventricular', 'systolic', 'function', 'time', 'considered', 'normal', 'greater', 'There', 'mild', 'moderate', 'mitral', 'regurgitation', 'severe', 'tricuspid', 'regurgitation', 'could', 'rule', 'marantic', 'endocarditis', 'though', 'echogenic', 'density', 'noted', 'aortic', 'cusps', 'consistent', 'degenerative', 'changes', 'The', 'patient', 'subsequently', 'evaluated', 'infective', 'endocarditis', 'blood', 'cultures', 'times', 'three', 'computerized', 'tomography', 'scan', 'head', 'looking', 'signs', 'emboli', 'Computerized', 'tomography', 'scan', 'head', 'results', 'subsequently', 'pending', 'time', 'dictation', 'Digoxin', 'level', 'discharge', 'It', 'recommendation', 'Medicine', 'Staff', 'restart', 'Coumadin', 'mg', 'approximately', 'two', 'days', 'discharge', 'rehabilitation', 'hospital', 'follow', 'INRs', 'every', 'day', 'therapeutic', 'range', 'met', 'We', 'low', 'suspicion', 'infective', 'endocarditis', 'Heme', 'Coumadin', 'held', 'secondary', 'supertherapeutic', 'INR', 'INR', 'peaked', 'Vitamin', 'K', 'times', 'one', 'given', 'INR', 'normalized', 'hospital', 'day', 'Hematocrit', 'stable', 'hospital', 'day', 'hematocrit', 'found', 'secondary', 'occult', 'gastrointestinal', 'bleed', 'The', 'patient', 'transfused', 'unit', 'well', 'tolerated', 'Follow', 'hematocrit', 'Hematocrit', 'remained', 'stable', 'rest', 'hospital', 'course', 'Renal', 'Baseline', 'creatinine', 'She', 'arrived', 'mild', 'prerenal', 'azotemia', 'diuretics', 'held', 'During', 'hospital', 'course', 'required', 'several', 'boluses', 'low', 'urine', 'output', 'The', 'patient', 'started', 'mobilizing', 'fluids', 'approximately', 'hospital', 'day', 'Urine', 'outpatient', 'remained', 'good', 'thereafter', 'Fluids', 'electrolytes', 'nutrition', 'Initial', 'dehydration', 'treated', 'intravenous', 'fluids', 'She', 'tolerated', 'p', 'throughout', 'placement', 'placed', 'thin', 'pureed', 'diet', 'supplemental', 'Boost', 'breakfast', 'lunch', 'dinner', 'This', 'following', 'swallow', 'nutrition', 'evaluations', 'malnutrition', 'She', 'also', 'placed', 'thiamine', 'folate', 'multivitamin', 'supplements', 'Asymptomatic', 'hypercalcemia', 'noted', 'low', 'setting', 'albumin', 'Free', 'calcium', 'noted', 'free', 'calcium', 'discharge', 'noted', 'During', 'hospital', 'stay', 'potassium', 'rose', 'secondary', 'increased', 'dosage', 'ACE', 'inhibitor', 'subsequently', 'Lisinopril', 'decreased', 'mg', 'time', 'potassium', 'normalized', 'Other', 'laboratory', 'studies', 'follows', 'B12', 'folate', 'PTH', 'hydroxy', 'vitamin', 'D', 'less', 'Neurological', 'Change', 'mental', 'status', 'secondary', 'heat', 'stroke', 'malnutrition', 'Throughout', 'hospital', 'course', "patient's", 'mental', 'status', 'alert', 'awake', 'oriented', 'two', 'sometimes', 'three', 'On', 'discharge', 'awake', 'alert', 'oriented', 'times', 'three', 'Head', 'computerized', 'tomography', 'scan', 'hospital', 'day', 'performed', 'results', 'pending', 'time', 'dictation', 'Gastrointestinal', 'The', 'patient', 'history', 'heme', 'positive', 'stools', 'refusal', 'colonoscopy', 'She', 'intermittent', 'guaiac', 'positive', 'stools', 'house', 'She', 'seen', 'Gastrointestinal', 'Service', 'possible', 'occult', 'malignancy', 'versus', 'tuberculosis', 'colitis', 'Colonoscopy', 'performed', 'hospital', 'day', 'showed', 'diverticulosis', 'two', 'polyps', 'right', 'colon', 'subsequently', 'removed', 'biopsied', 'Liver', 'function', 'tests', 'followed', 'q', 'two', 'weeks', 'secondary', 'antituberculosis', 'medications', 'Liver', 'function', 'tests', 'tuberculosis', 'medications', 'started', 'within', 'normal', 'limits', 'ALT', 'ALT', 'LDH', 'alkaline', 'phosphatase', 'bilirubin', 'Our', 'medical', 'team', 'recommended', 'rehabilitation', 'hospital', 'follow', 'liver', 'function', 'tests', 'q', 'two', 'weeks', 'Endomysal', 'antibody', 'within', 'normal', 'limits', 'Endocrine', 'Free', 'cortisol', 'noted', 'The', 'hyperclcemia', 'likely', 'due', 'granulomatous', 'disease', 'TB', 'improved', 'treatment', 'TB', 'Musculoskeletal', 'The', 'patient', 'complained', 'early', 'hip', 'soreness', 'X', 'ray', 'pelvis', 'showed', 'fractures', 'The', 'patient', 'followed', 'physical', 'therapy', 'This', 'improved', 'time', 'Prophylaxis', 'The', 'Zantac', 'stomach', 'heparin', 'deep', 'vein', 'thrombosis', 'fall', 'aspiration', 'precautions', 'maintained', 'throughout', 'hospital', 'stay', 'CONDITION', 'ON', 'DISCHARGE', 'Stable', 'Hospital3', 'rehabilitation', 'DISCHARGE', 'INSTRUCTIONS', 'Maintain', 'respiratory', 'precautions', 'keeping', 'patient', 'isolation', 'negative', 'pressure', 'room', 'The', 'patient', 'continue', 'need', 'physical', 'therapy', 'Her', 'diet', 'regular', 'plus', 'Boost', 'DISCHARGE', 'MEDICATIONS', 'Isoniazid', 'mg', 'p', 'q', 'Rifampin', 'mg', 'p', 'q', 'Pyrazinamide', 'mg', 'q', 'Ethambutol', 'mg', 'p', 'q', 'Pyridoxine', 'mg', 'q', 'Note', 'tuberculosis', 'medications', 'given', 'empty', 'stomach', 'Lisinopril', 'mg', 'q', 'Digoxin', 'mg', 'p', 'q', 'Metoprolol', 'mg', 'b', 'Lasix', 'mg', 'p', 'q', 'Aspirin', 'mg', 'p', 'q', 'Heparin', 'units', 'subcutaneously', 'q', 'hours', 'Ranitidine', 'mg', 'p', 'b', 'Nitroglycerin', 'sublingual', 'mg', 'q', 'minutes', 'maximum', 'three', 'doses', 'Colace', 'mg', 'p', 'b', 'prn', 'constipation', 'Folic', 'mg', 'p', 'q', 'Thiamine', 'mg', 'p', 'q', 'Multivitamin', 'p', 'q', 'Tylenol', 'one', 'two', 'tablets', 'p', 'q', 'hours', 'prn', 'pain', 'Tylenol', 'mg', 'mg', 'p', 'q', 'hours', 'prn', 'fever', 'pain', 'It', 'recommended', 'Coumadin', 'restarted', 'mg', 'p', 'q', 'following', 'INR', 'daily', 'therapeutic', 'dose', 'set', 'The', 'patient', 'also', 'require', 'liver', 'function', 'tests', 'checked', 'q', 'two', 'weeks', 'She', 'due', 'next', 'liver', 'function', 'tests', 'next', 'week', 'The', "patient's", 'Digoxin', 'level', 'followed', 'q', 'one', 'two', 'weeks', 'Goal', 'digoxon', 'level', 'FOLLOW', 'UP', 'Follow', 'appointment', 'primary', 'care', 'physician', 'Last', 'Name', 'NamePattern4', 'First', 'Name4', 'NamePattern1', 'Last', 'Name', 'NamePattern1', 'PM', 'Hospital', 'Ward', 'Name', 'Center', 'Location', 'un', 'Pulmonary', 'Dr', 'Last', 'Name', 'STitle', 'AM', 'Hospital1', 'Building', 'Location', 'un', 'Infectious', 'Disease', 'Dr', 'Last', 'Name', 'STitle', 'AM', 'Doctor', 'Last', 'Name', 'Building', 'Location', 'un', 'Fall', 'precautions', 'maintained', 'patient', 'bear', 'weight', 'DISCHARGE', 'DIAGNOSIS', 'Pulmonary', 'tuberculosis', 'reactivated', 'Bilateral', 'pleural', 'effusions', 'atrial', 'fibrillation', 'Cardiomyopathy', 'Left', 'bundle', 'branch', 'block', 'hypercalcemia', 'resolved', 'h', 'CVA', 'h', 'PE', 'First', 'Name8', 'NamePattern2', 'First', 'Name4', 'NamePattern1', 'Last', 'Name', 'NamePattern1', 'M', 'D', 'MD', 'Number1', 'Dictated', 'ByLast', 'Name', 'NamePattern1', 'MEDQUIST36', 'D', 'T', 'JOB', 'Job', 'Number']

Word2Vec training using gensim.

In [ ]:
import gensim
# NOTE: commenting this part so that we dont run this by mistake.
# sgen = MySentences(filtered_df_disc_sum) # a memory-friendly iterator
# model = gensim.models.Word2Vec(sgen, min_count=5, workers=4, sample=1e-05)
# model.save("/content/drive/My Drive/DLH Final Project/mimic3/word2vec.model")

In [ ]:
!ls -lh "/content/drive/My Drive/DLH Final Project/mimic3/"

total 3.9G
-rw------- 1 root root  19M Mar 19  2019 DIAGNOSES_ICD.csv
-rw------- 1 root root 3.8G Jun 14  2019 NOTEEVENTS.csv
-rw------- 1 root root  78M Apr 13 08:14 word2vec.model

In [ ]:
# multi-hot encoding for icd_codes for a given admission

series_admissions_with_top_diseases_grouped = \
df_admissions_with_top_diseases.groupby(['SUBJECT_ID', 
                                         'HADM_ID'])['ICD9_CODE'].apply(list)

df_admissions_with_top_diseases_grouped = \
series_admissions_with_top_diseases_grouped.to_frame().reset_index()

In [ ]:
sorted_top_icd_codes = sorted(top_icd_codes)
icd_code_to_idx = dict((k, v) for v, k in enumerate(sorted_top_icd_codes))

In [ ]:
# new col to be added to dataframe
multi_hot_ecoding_col = list()
for idx in range(len(df_admissions_with_top_diseases_grouped)):
  icd_codes = df_admissions_with_top_diseases_grouped.iloc[idx]['ICD9_CODE']
  encoding = [0] * 50
  for code in icd_codes:
    encoding[icd_code_to_idx[code]] = 1    
  multi_hot_ecoding_col.append(encoding)

df_admissions_with_top_diseases_grouped['ICD9_CODE_ENCODED'] = multi_hot_ecoding_col

In [ ]:
# df_admissions_with_top_diseases_grouped.head(5)
print(len(df_admissions_with_top_diseases_grouped))
print(len(filtered_df_disc_sum))
# TODO: there are more records in filtered_df_disc_sum than 
# df_admissions_with_top_diseases_grouped, why??

55078
55988

In [ ]:
filtered_df_disc_sum.head(5)

,index,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,1,170,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
2,32,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
3,79,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
4,186,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...

In [ ]:
df_admissions_with_top_diseases_grouped.head(5)

,SUBJECT_ID,HADM_ID,ICD9_CODE,ICD9_CODE_ENCODED
0,2,163353,"[V3001, V053, V290]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,3,145834,"[0389, 5849, 41071, 4280]","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,5,178980,"[V3000, V053, V290]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,6,107064,"[40391, 2767, 2859, V1582]","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, ..."
4,7,118037,"[V3001, V053, V290]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [ ]:
# create our final dataset we will be working
# join df_admissions_with_top_diseases_grouped and filtered_df_disc_sum